<h2> Editar Perfil </h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div>
    <h4> Información personal </h4>
    <div>
      <%= f.label "Nombre" %><br>
      <%= f.text_field :nombre, autofocus: true %> 
    </div>

    <div>
      <%= f.label "Región" %><br>
      <%= f.select :region_id , Region.all.map  {|r| [ r.name, r.id] }, {include_blank: true}, {class: "form-control", onchange: "filtroCiudades(this.selectedIndex);", style: "width: 250px"}%>
    </div>

    <div>
      <%= f.label "Ciudad" %><br>
      <%= f.select :city_id , {}, {include_blank: true}, {class: "form-control", style: "width: 250px"}%>
    </div>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div>
    <h4> Contraseña </h4>
    <div>
      <%= f.label "Nueva Contraseña" %> <i>(Deje en blanco si usted no desea cambiarla)</i><br>
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div>
      <%= f.label "Confirmar Nueva Contraseña" %><br>
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

    <div>
      <%= f.label "Contraseña Actual" %><br>
      <%= f.password_field :current_password, autocomplete: "off" %>
    </div>
  </div>

  <div>
    <h4> Gustos </h4>
    <table>
      <tr>
      <% @categorias.each do |cat| %>
        <td>
          <%= check_box(cat.name, "categoria", {}, cat.id, 0) %>  <%= cat.name %>
        </td>
        <% if cat.id%4 == 0 %>
          </tr>
          <tr>
        <% end %>
      <% end %>
      </tr>
    </table>
  </div>

  <br>

  <div>
    <%= f.submit "Actualizar Información" %>
  </div>

<% end %>

<%= link_to "Volver", :back %>


<script type="text/javascript">
  function filtroCiudades(region){
    var largo = document.getElementById("user_city_id").length;
    for (i=0; i<largo; i++){
      document.getElementById("user_city_id").remove(0);
    }
    switch(region){
      case(1):
        <% City.where('region_id = 1').order("name asc").each do |c|%>
          var option = document.createElement("option");
          option.text = "<%= c.name %>";
          option.value = <%= c.id %>;
          document.getElementById("user_city_id").add(option);
        <%end%>
        break;
      case(2):
        <% City.where('region_id = 2').order("name asc").each do |c|%>
          var option = document.createElement("option");
          option.text = "<%= c.name %>";
          option.value = <%= c.id %>;
          document.getElementById("user_city_id").add(option);
        <%end%>
        break;
      case(3):
        <% City.where('region_id = 3').order("name asc").each do |c|%>
          var option = document.createElement("option");
          option.text = "<%= c.name %>";
          option.value = <%= c.id %>;
          document.getElementById("user_city_id").add(option);
        <%end%>
        break;
      case(4):
        <% City.where('region_id = 4').order("name asc").each do |c|%>
          var option = document.createElement("option");
          option.text = "<%= c.name %>";
          option.value = <%= c.id %>;
          document.getElementById("user_city_id").add(option);
        <%end%>
        break;
      case(5):
        <% City.where('region_id = 5').order("name asc").each do |c|%>
          var option = document.createElement("option");
          option.text = "<%= c.name %>";
          option.value = <%= c.id %>;
          document.getElementById("user_city_id").add(option);
        <%end%>
        break;
      case(6):
        <% City.where('region_id = 6').order("name asc").each do |c|%>
          var option = document.createElement("option");
          option.text = "<%= c.name %>";
          option.value = <%= c.id %>;
          document.getElementById("user_city_id").add(option);
        <%end%>
        break;
      case(7):
        <% City.where('region_id = 7').order("name asc").each do |c|%>
          var option = document.createElement("option");
          option.text = "<%= c.name %>";
          option.value = <%= c.id %>;
          document.getElementById("user_city_id").add(option);
        <%end%>
        break;
      case(8):
        <% City.where('region_id = 8').order("name asc").each do |c|%>
          var option = document.createElement("option");
          option.text = "<%= c.name %>";
          option.value = <%= c.id %>;
          document.getElementById("user_city_id").add(option);
        <%end%>
        break;
      case(9):
        <% City.where('region_id = 9').order("name asc").each do |c|%>
          var option = document.createElement("option");
          option.text = "<%= c.name %>";
          option.value = <%= c.id %>;
          document.getElementById("user_city_id").add(option);
        <%end%>
        break;
      case(10):
        <% City.where('region_id = 10').order("name asc").each do |c|%>
          var option = document.createElement("option");
          option.text = "<%= c.name %>";
          option.value = <%= c.id %>;
          document.getElementById("user_city_id").add(option);
        <%end%>
        break;
      case(11):
        <% City.where('region_id = 11').order("name asc").each do |c|%>
          var option = document.createElement("option");
          option.text = "<%= c.name %>";
          option.value = <%= c.id %>;
          document.getElementById("user_city_id").add(option);
        <%end%>
        break;
      case(12):
        <% City.where('region_id = 12').order("name asc").each do |c|%>
          var option = document.createElement("option");
          option.text = "<%= c.name %>";
          option.value = <%= c.id %>;
          document.getElementById("user_city_id").add(option);
        <%end%>
        break;
      case(13):
        <% City.where('region_id = 13').order("name asc").each do |c|%>
          var option = document.createElement("option");
          option.text = "<%= c.name %>";
          option.value = <%= c.id %>;
          document.getElementById("user_city_id").add(option);
        <%end%>
        break;
      case(14):
        <% City.where('region_id = 14').order("name asc").each do |c|%>
          var option = document.createElement("option");
          option.text = "<%= c.name %>";
          option.value = <%= c.id %>;
          document.getElementById("user_city_id").add(option);
        <%end%>
        break;
      case(15):
        <% City.where('region_id = 15').order("name asc").each do |c|%>
          var option = document.createElement("option");
          option.text = "<%= c.name %>";
          option.value = <%= c.id %>;
          document.getElementById("user_city_id").add(option);
        <%end%>
        break;
    }
  }

  function load(){
  var region = $("#user_region_id").val();
  alert(region);
  filtroCiudades(region);
}
$(document).ready(load);
$(document).on("page:load", load); 
</script>
