<% title "Reservar Pasajes" %>
<%= form_for @reserva, url: crear_reserva_path do |f| %>
<div class="container">
	<h2 class="page-header">Reserva tu pasaje a <%=@evento.name%></h2>
		<ol class="breadcrumb">
        	<%= render_breadcrumbs :tag => :li, :separator => "" %>
    	</ol>
		<% if @reserva.errors.any? %>
	        <div class="row" style="padding:0 0 0 0;">
	          <div id="error_explanation">
	            <h2>
	              <%= pluralize(@reserva.errors.count, "error") %> prohibited
	              this article from being saved:
	            </h2>
	            <ul>
	              <% @reserva.errors.full_messages.each do |msg| %>
	                <li><%= msg %></li>
	              <% end %>
	            </ul>
	          </div>
	        </div>
	      <% end %>

		<div class="col-sm-6">
			<div class="row" style="padding:0 0 0 0;">
				<h3 class="page-header">Información</h3>
				<p><b>Precio:</b> <%= @bus.price %> Pesos </p>
				<p><b>Hora de salida:</b> <%= @bus.time.strftime("%H:%M:%S") %></p>
				<p><b>Lugar de salida </b><%= @bus.from%> </p>
			</div>

			<div class="row">
				<h3 class="page-header">Selecciona el lugar donde te gustaria llegar</h3>
				<div class="row">
					<%= label_tag "Donde quieres bajar" %>
					<%= f.select :point,  options_for_select((@points.map {|point| [point[:desc],point.to_s] })), {} ,{:class => "form-control"} %>

				</div>
				<div class="row">
				          <div style='width: 250px;'>
				            <div id="map" style='width: 600px; height: 250px;'></div>
				          </div>          
				          <script type="text/javascript">
				            handler = Gmaps.build('Google');
				            handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
				              markers = handler.addMarkers(<%=raw @hash.to_json %>);
				              handler.bounds.extendWith(markers);
				              handler.fitMapToBounds();
				            })
				          </script>
				</div>

			</div><!-- end location -->
		</div> <!-- end information -->

		<div class="col-sm-6">
			<div class="row" style="padding:0 0 0 0;">
				<h3 class="page-header">Elige tus  asientos</h3>
			</div>
			<div class="row">
				<p class="text-center">Máx. 5 asientos</p>
			</div>
			<div class="row">
				
				<div class="col-sm-6 col-sm-offset-3">

					<div class="busTipo">
						<%= f.hidden_field :amount, value: 0, id:"seleccionados" %>
						<table>
						<% (1..@bus.seats).each do |i| %>

							<% if (i-1) % 4 == 0 %>
							<tr class="centering">
							<% end %>
								<td>
									<% if @asientos_no_disponibles.include?(i) %>
										<%=image_tag "asientoOcupado.png"%></a>
									<% else %>
										<a href="#" id="asiento<%=i%>" onclick="seleccionar('asiento<%= i%>');event.preventDefault();" value="false"><%=image_tag "asientoSinSeleccionar.png"%></a>
									<% end %>
									<%=i%>
									<input type="hidden" id="asiento<%=i%>tag"value="<%=i%>">
								</td>	
							<% if i-1 % 4 == 3 %>
								</tr>
							<% end %>
						<% end %>
						</table>
					</div>	
				</div>
			</div><!-- end bus -->
			<div class="row">
				<div class="col-sm-4">
					<%= image_tag "asientoSeleccionado.png" %>
					Asiento Seleccionado
				</div>
				<div class="col-sm-4">
					<%= image_tag "asientoSinSeleccionar.png" %>
					Asiento Disponible
				</div>
				<div class="col-sm-4">
					<%= image_tag "asientoOcupado.png" %>
					Asiento Ocupado
				</div>
			</div>
		</div><!-- end location + bus --> 
	</div> <!-- end row -->

	<div class="row text-center">
		<% if @reservado %>
			<p>Usted ya realizó una reserva</p>
		<% else %>
			<%= f.submit "Enviar Reserva", class: "btn btn-primary"%>
		<% end %>
	</div>

</div> <!-- end container -->
<% end %>