<!DOCTYPE html>
<html>
<head>
  <title>Carryvent</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<ul class="nav pull-right">
  <li><%= link_to "Home", "/" %></li>
  <% if user_signed_in? %>
    <li><%= link_to "Eventos", lista_eventos_user_path %></li>
    <li> <%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
  <% elsif publicador_signed_in? %>
    <li> <%= link_to "Publicar Evento", "/" %></li>
    <li><%= link_to "Administrar Eventos", "/" %></li></li> 
    <li><%= link_to "Logout", destroy_publicador_session_path, :method => :delete %></li>
  <% else %>
    <li><%= link_to "Login", new_user_session_path %></li>
  <% end %>
</ul>


<%= yield %>

</body>
</html>
