<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-4 col-md-offset-4">
      <h1 class="text-center login-title">
        Registrar Organización
      </h1>
      <div class="account-wall_reg">
        <%= form_for @organization, url: crear_organization_path, class: "form-signin"  do |f| %>
          <div>
            <% if @organization.errors.any? %>
            <div class="row">
              <div id="error_explanation">
                <h2>
                  <%= pluralize(@organization.errors.count, "error") %> prohibited
                  this article from being saved:
                </h2>
                <ul>
                  <% @evento.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                  <% end %>
                </ul>
              </div>
            </div>
            <% end %>


            <div class="col-md-8 col-md-offset-2 col-xs-12">
              <div class="upload-preview">
                 <img style="width:200px;height:200px;"/>
              </div>

            <%= f.file_field :picture, :class => "file" %>
            </div>
          <p><%= f.label "Nombre de la Organización"%>
          <%= f.text_field :name , :class => "form-control", :placeholder =>"Nombre de la Organización"%></p>

          <p><%= f.label "Persona de contacto" %>
          <%= f.text_field :contact_person , :class => "form-control", :placeholder =>"Persona de Contacto"%></p>

          <p><%= f.label "Teléfono" %>
          <%= f.text_field :phone , :class => "form-control", :placeholder =>"Ej: +56987654321"%></p>

          <p><%= f.label "Facebook" %>
          <%= f.text_field :facebook , :class => "form-control", :placeholder =>"Ej: /organizacion"%></p>

          <p><%= f.label "Twitter" %>
          <%= f.text_field :twitter , :class => "form-control", :placeholder =>"Ej: @organizacion"%></p>

          <%= f.submit "Registrarse", :class => "btn btn-primary btn-block" %>
          </div>
        <% end %> 
      </div>
    </div>
  </div>
</div>

<br> 



