<!-- Page Content -->
<div class="container">

  <!-- Organizacion -->
  <div class="container">
  	<div class="row">
  		<div class="col-md-8">
  			<div class="panel-body">
  				<div class="row">
  					<div class="col-xs-12 col-sm-4 text-center">
                <% if @organization.picture.present? %>
                  <img src=" <%= @organization.picture.url %>" alt="" class="center-block img-responsive">
                <% else %>
                  <img style="width:200px;height:200px;"/>
                <% end %>       
  					</div>
            <!--/col--> 
                      
  					<div class="col-xs-12 col-sm-8">
  						<div> 
  								
  						</div>
  						<h2><%= @organization.name %></h2>
              <p><b>Persona de contacto: </b> <%= @organization.contact_person %> </p>
              <p><b>Teléfono: </b> <%= @organization.phone %> </p>
              <p><b>Facebook: </b> <%= @organization.facebook %> </p>
              <p><b>Twitter: </b> <%= @organization.twitter %> </p>
  					</div><!--/col-->            
  				</div><!--/row-->
  			</div><!--/panel-body-->
  		</div>
  	</div>
  </div>
</div>
<!-- /.container -->

<!-- jQuery Version 1.11.0 -->
<script src="js/jquery-1.11.0.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>
