<% title "Eventos" %>
<%= javascript_include_tag :defaults, 'jquery.cycle.all' %>
    <!-- Page Content -->
    <div class="container">

    	<% if @interes.count != 0 %>
	    	<!-- Eventos de tu interes -->
	      <div class="row">
	        <div class="col-lg-12">
	          <h2 class="page-header">Eventos de interés</h2>
						<!-- Creando las ventanitas de evento -->
						<div class="container-fluid">
							<div id="heroSlider2" class="carousel slide">
								<div class="carousel-inner">
									<% primer = true %>
									<% @interes.each do |eventos| %>
										<% if primer %>
											<div class="active item">
												<div id="eventosDeInteres" class="hero-unit">
													<% eventos.each do |evento| %>
														<div class="col-lg-4 col-sm-6 text-center">
															<!-- Hipervinculo en la imagen, si no hay dejamos un placeholder-->
															<!-- Editar el placeholder para version final -->

															<%= link_to mostrar_evento_path(evento), 'data-no-turbolink' => true  do %>
																<% if evento.image.present? %>
																			<% img = evento.image %>
																<% else %>
																			<% img = 'http://placehold.it/200x200' %>
																<% end %> 
																<%= image_tag img , :class => "img-square img-responsive img-center" %>

															<% end %>
															<h3><%= evento.name %> </h3>
															<p> <%= evento.subtitle %> </p>
														</div>
													<%end%>
												</div>
											</div>
											<% primer = false %>
										<% else %>
											<div class="item">
												<div id="eventosDeInteres" class="hero-unit">
												<!-- INICIO-->
													<% eventos.each do |evento| %>
														<div class="col-lg-4 col-sm-6 text-center">
														<!-- Hipervinculo en la imagen, si no hay dejamos un placeholder-->
														<!-- Editar el placeholder para version final -->
															<a href="<%= mostrar_evento_path(evento) %>">

															<img class="img-square img-responsive img-center" src="
																<% if evento.image.present? %>
																		<%= evento.image %>
																<% else %>
																		http://placehold.it/200x200
																<% end %> 
													 " alt="">
															</a>
															<h3><%= evento.name %> </h3>
															<p> <%= evento.subtitle %> </p>
														</div>
													<% end %>
											<!-- FIN-->                  
												</div>
											</div>
										<% end %>
									<% end %>
								</div>
								<a class="left carousel-control" href="#heroSlider2" data-slide="prev">‹</a>
								<a class="right carousel-control" href="#heroSlider2" data-slide="next">›</a>
							</div>
						</div>
	        </div>
	      </div>
	    <% end %>

        <!-- Proximos Eventos -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Próximos Eventos</h2>

            <!-- Creando las ventanitas de evento -->
				<div class="container-fluid">
					<div id="heroSlider" class="carousel slide">
						<div class="carousel-inner">
	
							<% primer = true %>
							<% @eventos.each do |eventos| %>
								<% if primer %>
									<div class="active item">
										<div class="hero-unit">
											<% eventos.each do |evento| %>
												<div class="col-lg-4 col-sm-6 text-center">
													<!-- Hipervinculo en la imagen, si no hay dejamos un placeholder-->
													<!-- Editar el placeholder para version final -->

													<%= link_to mostrar_evento_path(evento), 'data-no-turbolink' => true  do %>
														<% if evento.image.present? %>
																	<% img = evento.image %>
														<% else %>
																	<% img = 'http://placehold.it/200x200' %>
														<% end %> 
														<%= image_tag img , :class => "img-square img-responsive img-center" %>

													<% end %>
													<h3><%= evento.name %> </h3>
													<p> <%= evento.subtitle %> </p>
												</div>
											<%end%>
										</div>
									</div>
									<% primer = false %>
								<% else %>
									<div class="item">
										<div class="hero-unit">
										<!-- INICIO-->
											<% eventos.each do |evento| %>
												<div class="col-lg-4 col-sm-6 text-center">
												<!-- Hipervinculo en la imagen, si no hay dejamos un placeholder-->
												<!-- Editar el placeholder para version final -->
													<a href="<%= mostrar_evento_path(evento) %>">

													<img class="img-square img-responsive img-center" src="
														<% if evento.image.present? %>
																<%= evento.image %>
														<% else %>
																http://placehold.it/200x200
														<% end %> 
											 " alt="">
													</a>
													<h3><%= evento.name %> </h3>
													<p> <%= evento.subtitle %> </p>
												</div>
											<% end %>
									<!-- FIN-->                  
										</div>
									</div>
								<% end %>
							<% end %>
							
						</div>
						<a class="left carousel-control" href="#heroSlider" data-slide="prev">‹</a>
						<a class="right carousel-control" href="#heroSlider" data-slide="next">›</a>
					</div>
				</div>
            </div>
        </div>
    </div>
    <!-- /.container -->

