<div class="container">
  <!-- Publicar Evento -->
  <div class="row">
      <div class="col-xs-12">
        <h2 class="page-header">Publicar Evento</h2>
        <div class="col-xs-3"></div>
        <div id="publicarEvento" class="hero-unit col-xs-6">
          <%= form_for @evento, url: eventos_path  do |f| %>
            <% if @evento.errors.any? %>
              <div id="error_explanation">
                <h2>
                  <%= pluralize(@evento.errors.count, "error") %> prohibited
                  this article from being saved:
                </h2>
                <ul>
                  <% @evento.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>

            <div class="field">
              <%= f.label "Nombre del Evento" %><br>
              <%= f.text_field :name , :class => "form-control", :placeholder =>"Nombre del Evento"%>
            </div>
            <div class="field">
              <%= f.label :subtitle %><br>
              <%= f.text_area :subtitle , :class => "form-control"%>
            </div>
            <div class="field">
              <%= f.label :information %><br>
              <%= f.text_field :information , :class => "form-control", :type => "date"%>
            </div>
            <div class="field">
              <%= f.label :coordinates %><br>
              <%= f.text_field :coordinates %>
            </div>
            <div class="field">
              <p><%= f.label "Región" %><br>
              <%= f.select :region_id , @regiones.collect  {|r| [ r.name, r.id] }, {include_blank: true}, {class: "form-control", onchange: "filtroCiudades(this.selectedIndex);"}%></p>
            </div>  
            <div class="field">
              <p><%= f.label :ciudad_id %>
              <%= f.select :city_id , {}, {include_blank: true}, {class: "form-control"}%></p>
            </div>
            <div class="field">
              <%= f.label :latitude %><br>
              <%= f.text_field :latitude %>
            </div>
            <div class="field">
              <%= f.label :longitude %><br>
              <%= f.text_field :longitude %>
            </div>

            <div class="actions">
              <%= f.submit %>
            </div>
          <% end %>
        </div>
        <div class="col-xs-3"></div>
      </div>
  </div>
  <hr class="container">

<script type="text/javascript">
  function filtroCiudades(region){
    var largo = document.getElementById("evento_city_id").length;
    for (i=0; i<largo; i++){
      document.getElementById("evento_city_id").remove(0);
    }
    switch(region){
      case(1):
        <% City.where('region_id = 1').order("name asc").each do |c|%>
          var option = document.createElement("option");
          option.text = "<%= c.name %>";
          option.value = <%= c.id %>;
          document.getElementById("evento_city_id").add(option);
        <%end%>
        break;
      case(2):
        <% City.where('region_id = 2').order("name asc").each do |c|%>
          var option = document.createElement("option");
          option.text = "<%= c.name %>";
          option.value = <%= c.id %>;
          document.getElementById("evento_city_id").add(option);
        <%end%>
        break;
      case(3):
        <% City.where('region_id = 3').order("name asc").each do |c|%>
          var option = document.createElement("option");
          option.text = "<%= c.name %>";
          option.value = <%= c.id %>;
          document.getElementById("evento_city_id").add(option);
        <%end%>
        break;
      case(4):
        <% City.where('region_id = 4').order("name asc").each do |c|%>
          var option = document.createElement("option");
          option.text = "<%= c.name %>";
          option.value = <%= c.id %>;
          document.getElementById("evento_city_id").add(option);
        <%end%>
        break;
      case(5):
        <% City.where('region_id = 5').order("name asc").each do |c|%>
          var option = document.createElement("option");
          option.text = "<%= c.name %>";
          option.value = <%= c.id %>;
          document.getElementById("evento_city_id").add(option);
        <%end%>
        break;
      case(6):
        <% City.where('region_id = 6').order("name asc").each do |c|%>
          var option = document.createElement("option");
          option.text = "<%= c.name %>";
          option.value = <%= c.id %>;
          document.getElementById("evento_city_id").add(option);
        <%end%>
        break;
      case(7):
        <% City.where('region_id = 7').order("name asc").each do |c|%>
          var option = document.createElement("option");
          option.text = "<%= c.name %>";
          option.value = <%= c.id %>;
          document.getElementById("evento_city_id").add(option);
        <%end%>
        break;
      case(8):
        <% City.where('region_id = 8').order("name asc").each do |c|%>
          var option = document.createElement("option");
          option.text = "<%= c.name %>";
          option.value = <%= c.id %>;
          document.getElementById("evento_city_id").add(option);
        <%end%>
        break;
      case(9):
        <% City.where('region_id = 9').order("name asc").each do |c|%>
          var option = document.createElement("option");
          option.text = "<%= c.name %>";
          option.value = <%= c.id %>;
          document.getElementById("evento_city_id").add(option);
        <%end%>
        break;
      case(10):
        <% City.where('region_id = 10').order("name asc").each do |c|%>
          var option = document.createElement("option");
          option.text = "<%= c.name %>";
          option.value = <%= c.id %>;
          document.getElementById("evento_city_id").add(option);
        <%end%>
        break;
      case(11):
        <% City.where('region_id = 11').order("name asc").each do |c|%>
          var option = document.createElement("option");
          option.text = "<%= c.name %>";
          option.value = <%= c.id %>;
          document.getElementById("evento_city_id").add(option);
        <%end%>
        break;
      case(12):
        <% City.where('region_id = 12').order("name asc").each do |c|%>
          var option = document.createElement("option");
          option.text = "<%= c.name %>";
          option.value = <%= c.id %>;
          document.getElementById("evento_city_id").add(option);
        <%end%>
        break;
      case(13):
        <% City.where('region_id = 13').order("name asc").each do |c|%>
          var option = document.createElement("option");
          option.text = "<%= c.name %>";
          option.value = <%= c.id %>;
          document.getElementById("evento_city_id").add(option);
        <%end%>
        break;
      case(14):
        <% City.where('region_id = 14').order("name asc").each do |c|%>
          var option = document.createElement("option");
          option.text = "<%= c.name %>";
          option.value = <%= c.id %>;
          document.getElementById("evento_city_id").add(option);
        <%end%>
        break;
      case(15):
        <% City.where('region_id = 15').order("name asc").each do |c|%>
          var option = document.createElement("option");
          option.text = "<%= c.name %>";
          option.value = <%= c.id %>;
          document.getElementById("evento_city_id").add(option);
        <%end%>
        break;
    }
  }
</script>
