Publicar Evento
<%= form_for @evento, url: eventos_path  do |f| %>

    <% if @evento.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@evento.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @evento.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :subtitle %><br>
    <%= f.text_area :subtitle %>
  </div>
  <div class="field">
    <%= f.label :information %><br>
    <%= f.date_select :information %>
  </div>
  <div class="field">
    <%= f.label :coordinates %><br>
    <%= f.date_select :coordinates %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
