<!-- Page Content -->
<div class="container">

    <!-- Eventos -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header"><%= @evento.nombre %></h2>
        </div>
        <div class="col-lg-4 col-sm-6 text-center">
        	<% if @evento.imagen %>
        		 <img class="img-square img-responsive img-center" src="<%= @evento.imagen %>" alt="">
        	<% else %>
            	<img class="img-square img-responsive img-center" src="http://placehold.it/200x200" alt="">
            <% end %>
        </div>
        <div class="col-lg-4 col-sm-6">
            <p><b>Descripción:<%= @evento.desc %> </b></p>
            <p><b>Lugar: <!-- FALTA ESTO --> </b></p>
            <p><b>Fecha:<%= @evento.fecha_inicio %> </b></p>
            <p><b>Hora:  <!-- FALTA ESTO --></b></p>
            <p><b>Estado de los pasajes:  </b><!-- FALTA ESTO --></p>
            <p><button class='btn btn-lg btn-primary btn-block'>Compra tu pasaje</button></p>

            <p> 
            	<% if current_user.present? %>
				<%= link_to "Publicar Carpool", publicar_carpool_path(@evento) , :class => 'btn btn-lg btn-primary btn-block'%>
				<% end %></p>
        </div>
    </div>

    <br><br><br>

<% if !@publicacionCarpools.nil? %>
    <div class="panel panel-default" id="tabs">
            <input id="tab-1" type="radio" name="radio-set" class="tab-selector-1" checked="checked" />
            <label for="tab-1" class="tab-label-1">Ofertas de Carpool</label>
                                    
            <div class="content">
                <div class="content-1">
                    <div style="width: 100%; height: 250px; overflow: auto;">
                        <TABLE BORDER=0>
                        	<% @publicacionCarpools.each do |pub| %>

                            <TR>
                                <TD WIDTH=200 HEIGHT=110>
                                    <img src="http://sintoniageek.com/wp-content/uploads/2011/03/avatar-facebook-defecto1.jpg" width="100" height="100" alt="" class="center-block img-responsive">
                                </TD>
                                <TD WIDTH=200 HEIGHT=110>
                                    <p><b>Nombre: <%=pub %> </b></p>
                                    <p><b>Ciudad: </b></p>
                                    <p><%= link_to "Detalle", mostrar_carpool_path(@evento.id, pub.id), :class => 'btn btn-lg btn-primary btn-block' %></p>
                                </TD>
                            </TR>

                            <% end %>
                        </TABLE> 
                    </div>
                </div>
            </div>
        </div>
<% end %>
