<!-- Page Content -->
<div class="container">

  <!-- Eventos -->
  <div class="row">
    <div class="col-xs-12">
      <h2 class="page-header"><%= @evento.name %></h2>
      <div class="col-xs-3">
        <% if @evento.image %>
            <img class="img-square img-responsive img-center" src="<%= @evento.image %>" alt="">
        <% else %>
          <img class="img-square img-responsive img-center" src="http://placehold.it/200x200" alt="">
        <% end %>
      </div>
      <div class="col-xs-4">
        <p><b>Descripción:<%= @evento.information %> </b></p>
        <p><b>Lugar: <!-- FALTA ESTO --> </b></p>
        <p><b>Fecha: <!-- FALTA ESTO --> </b></p>
        <p><b>Hora:  <!-- FALTA ESTO --></b></p>
        <p><b>Estado de los pasajes:  </b><!-- FALTA ESTO --></p>
        <p><button class='btn btn-lg btn-primary'>Compra tu pasaje</button> 
        <% if current_user.present? %>
          <%= link_to "Publicar Carpool", publicar_carpool_path(@evento) , :class => 'btn btn-lg btn-primary'%>
        <% end %></p>
      </div>
      <div class="col-xs-5">
        <img class="img-square img-responsive img-center" src="http://placehold.it/200x200" alt=""> 
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="col-xs-6">
        <h4>Comentarios Evento</h4>
        <div id="comentariosEvento" class="hero-unit" >
        <%= render :partial => 'comments/form', :locals => { :comment => @new_comment } %> <br>
        <%= render :partial => 'comments/comment', :collection => @comments, :as => :comment %> <br>
        </div>
      </div>
      <div class="col-xs-6">
        <h4>Ofertas Carpool</h4>
        <div id="ofertasCarpool" class="hero-unit">
        	<% if !@publicacionCarpools.nil? %>
	          <TABLE BORDER=0>
              <% @publicacionCarpools.each do |pub| %>
	              <TR>
	                <TD WIDTH=200 HEIGHT=110>
	                  <img src="<%= pub.user_evento.user.foto %>?type=large" width="100" height="100" alt="" class="center-block img-responsive">
	                </TD>
	                <TD WIDTH=200 HEIGHT=110>
	                  <p><b>Nombre: <%= pub.user_evento.user.nombre %> </b></p>
	                  <p><b>Ciudad: <%=  pub.user_evento.user.ciudad %> </b></p>
	                </TD>
	                <TD>   
	                  <p><%= link_to "Detalle", mostrar_carpool_path(@evento.id, pub.id), :class => 'btn btn-lg btn-primary btn-block' %></p>
	                </TD>
	              </TR>
	            <% end %>
	          </TABLE> 
				  <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
