<!-- Page Content -->
<div class="container">

  <!-- Eventos -->
  <div class="row">
    <div class="col-xs-12">
      <h2 class="page-header"><%= @evento.name %></h2>
      <div class="col-xs-3">
        <% if @evento.image %>
            <img class="img-square img-responsive img-center" src="<%= @evento.image %>" alt="">
        <% else %>
          <img class="img-square img-responsive img-center" src="http://placehold.it/200x200" alt="">
        <% end %>
      </div>
      <div class="col-xs-4">
        <p><b>Descripción:<%= @evento.information %> </b></p>
        <p><b>Lugar: <!-- FALTA ESTO --> </b></p>
        <p><b>Fecha: <!-- FALTA ESTO --> </b></p>
        <p><b>Hora:  <!-- FALTA ESTO --></b></p>
        <p><b>Estado de los pasajes:  </b><!-- FALTA ESTO --></p>
        <p><button class='btn btn-lg btn-primary'>Compra tu pasaje</button> 
        <% if current_user.present? %>
          <%= link_to "Publicar Carpool", publicar_carpool_path(@evento) , :class => 'btn btn-lg btn-primary'%>
        <% end %></p>
      </div>
      <div class="col-xs-5">
        <img class="img-square img-responsive img-center" src="http://placehold.it/200x200" alt=""> 
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="col-md-6 col-xs-12">
        <h4>Comentarios Evento</h4>
        <div  class="comment-container" >
          <div class="comments">
            <%= render :partial => 'comments/comment', :collection => @comments, :as => :comment %>
          </div>
          <div class="comment-send"> 
        <%= render :partial => 'comments/form', :locals => { :comment => @new_comment } %>
        </div>
        </div>
      </div>
      <div class="col-md-6 col-xs-12">
        <h4>Ofertas Carpool</h4>
        <div class="carpool-container">
        	<% if !@publicacionCarpools.nil? %>
	          <TABLE class="tabla-carpools">
              <tr>
              <th> Usuario </th>
              <th> Ciudad </th>
              <th> Asientos disponibles </th>
              <th>  Detalles</th>
              </tr>
              <% @publicacionCarpools.each do |pub| %>
	              <TR>
	                <TD>
                    <% if pub.user_evento.user.foto.thumb.url %>
                     <% img = pub.user_evento.user.foto.thumb.url %>
                     <img src="<%= img  %>" width="100" height="100" alt="" class="center-block img-responsive">
                    <% else %>
                      <img src="/assets/place_user.png", class="img-circle", style="width:30px;heigh:30px">
                    <% end %>
                    <%= link_to pub.user_evento.user.nombre, perfil_user_path(pub.user_evento.user) %>
	                </TD>
	                <TD>
	                  <%= pub.user_evento.user.city.name %>
	                </TD>
                  <td>
                    <%= pub.asientos_disp %>
                  </td>
	                <TD>   
	                  <%= link_to "Detalle", mostrar_carpool_path(@evento.id, pub.id) %>
	                </TD>
	              </TR>
	            <% end %>
	          </TABLE> 
				  <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
