<% title "Editar Perfil" %>
<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-4 col-md-offset-4">
      <h1 class="text-center">
        Editar Perfil
      </h1>

      <div class="account-wall_reg"> 
        <%= form_for(:user, as: resource_name, method: :post, url: update_user_registration_path(current_user.id)) do |f| %>
          <%= devise_error_messages! %>

          <div>
            <h4> Información personal </h4>
            <div>
              <%= f.label "Nombre" %><br>
              <%= f.text_field :nombre, autofocus: true %> 
            </div>

            <div>
              <%= f.label "Región" %><br>
              <%= f.select :region_id , Region.all.map  {|r| [ r.name, r.id] }, {include_blank: true}, {class: "form-control", onchange: "filtroCiudades(this.selectedIndex);", style: "width: 250px"}%>
            </div>

            <div>
              <%= f.label "Ciudad" %><br>
              <%= f.select :city_id , {}, {include_blank: true}, {class: "form-control", style: "width: 250px"}%>
            </div>
          </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <div>
            <h4> Contraseña </h4>
            <div>
              <%= f.label "Nueva Contraseña" %> <i>(Deje en blanco si usted no desea cambiarla)</i><br>
              <%= f.password_field :password, autocomplete: "off" %>
            </div>

            <div>
              <%= f.label "Confirmar Nueva Contraseña" %><br>
              <%= f.password_field :password_confirmation, autocomplete: "off" %>
            </div>

            <div>
              <%= f.label "Contraseña Actual" %><br>
              <%= f.password_field :current_password, autocomplete: "off" %>
            </div>
          </div>

          <div>
            <h4> Gustos </h4>
            <table>
              <tr>
              <% Category.all.each do |cat| %>
                <td>
                  <% if @gustos.include?(cat.id)%>
                    <%= check_box("gusto", cat.id, {checked: true}, 1, 0) %>  <%= cat.name %>
                  <% else %>
                    <%= check_box("gusto", cat.id, {}, 1, 0) %>  <%= cat.name %>
                  <% end %>
                </td>
                <% if cat.id%3 == 0 %>
                  </tr>
                  <tr>
                <% end %>
              <% end %>
              </tr>
            </table>
          </div>

          <br>

          <div>
            <%= f.submit "Actualizar Información" %>
          </div>

        <% end %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  function filtroCiudades(region){
    var largo = document.getElementById("user_city_id").length;
    for (i=0; i<largo; i++){
      document.getElementById("user_city_id").remove(0);
    }
    switch(region){
      case(1):
        <% City.where('region_id = 1').order("name asc").each do |c|%>
          var option = document.createElement("option");
          option.text = "<%= c.name %>";
          option.value = <%= c.id %>;
          document.getElementById("user_city_id").add(option);
        <%end%>
        break;
      case(2):
        <% City.where('region_id = 2').order("name asc").each do |c|%>
          var option = document.createElement("option");
          option.text = "<%= c.name %>";
          option.value = <%= c.id %>;
          document.getElementById("user_city_id").add(option);
        <%end%>
        break;
      case(3):
        <% City.where('region_id = 3').order("name asc").each do |c|%>
          var option = document.createElement("option");
          option.text = "<%= c.name %>";
          option.value = <%= c.id %>;
          document.getElementById("user_city_id").add(option);
        <%end%>
        break;
      case(4):
        <% City.where('region_id = 4').order("name asc").each do |c|%>
          var option = document.createElement("option");
          option.text = "<%= c.name %>";
          option.value = <%= c.id %>;
          document.getElementById("user_city_id").add(option);
        <%end%>
        break;
      case(5):
        <% City.where('region_id = 5').order("name asc").each do |c|%>
          var option = document.createElement("option");
          option.text = "<%= c.name %>";
          option.value = <%= c.id %>;
          document.getElementById("user_city_id").add(option);
        <%end%>
        break;
      case(6):
        <% City.where('region_id = 6').order("name asc").each do |c|%>
          var option = document.createElement("option");
          option.text = "<%= c.name %>";
          option.value = <%= c.id %>;
          document.getElementById("user_city_id").add(option);
        <%end%>
        break;
      case(7):
        <% City.where('region_id = 7').order("name asc").each do |c|%>
          var option = document.createElement("option");
          option.text = "<%= c.name %>";
          option.value = <%= c.id %>;
          document.getElementById("user_city_id").add(option);
        <%end%>
        break;
      case(8):
        <% City.where('region_id = 8').order("name asc").each do |c|%>
          var option = document.createElement("option");
          option.text = "<%= c.name %>";
          option.value = <%= c.id %>;
          document.getElementById("user_city_id").add(option);
        <%end%>
        break;
      case(9):
        <% City.where('region_id = 9').order("name asc").each do |c|%>
          var option = document.createElement("option");
          option.text = "<%= c.name %>";
          option.value = <%= c.id %>;
          document.getElementById("user_city_id").add(option);
        <%end%>
        break;
      case(10):
        <% City.where('region_id = 10').order("name asc").each do |c|%>
          var option = document.createElement("option");
          option.text = "<%= c.name %>";
          option.value = <%= c.id %>;
          document.getElementById("user_city_id").add(option);
        <%end%>
        break;
      case(11):
        <% City.where('region_id = 11').order("name asc").each do |c|%>
          var option = document.createElement("option");
          option.text = "<%= c.name %>";
          option.value = <%= c.id %>;
          document.getElementById("user_city_id").add(option);
        <%end%>
        break;
      case(12):
        <% City.where('region_id = 12').order("name asc").each do |c|%>
          var option = document.createElement("option");
          option.text = "<%= c.name %>";
          option.value = <%= c.id %>;
          document.getElementById("user_city_id").add(option);
        <%end%>
        break;
      case(13):
        <% City.where('region_id = 13').order("name asc").each do |c|%>
          var option = document.createElement("option");
          option.text = "<%= c.name %>";
          option.value = <%= c.id %>;
          document.getElementById("user_city_id").add(option);
        <%end%>
        break;
      case(14):
        <% City.where('region_id = 14').order("name asc").each do |c|%>
          var option = document.createElement("option");
          option.text = "<%= c.name %>";
          option.value = <%= c.id %>;
          document.getElementById("user_city_id").add(option);
        <%end%>
        break;
      case(15):
        <% City.where('region_id = 15').order("name asc").each do |c|%>
          var option = document.createElement("option");
          option.text = "<%= c.name %>";
          option.value = <%= c.id %>;
          document.getElementById("user_city_id").add(option);
        <%end%>
        break;
    }
  }
</script>
