 <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>
<% title "Publicar Carpool" %>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <h2 class="page-header">Publicar Carpool</h2>
      <ol class="breadcrumb">
        <%= render_breadcrumbs :tag => :li, :separator => "" %>
      </ol>
      <div class="account-wall_reg">
    <%= form_for @publicacioncarpool, url: new_publicar_carpool_path  do |f| %>

        <% if @publicacioncarpool.errors.any? %>
        <div class="row" style="padding-top:0px;">
          <div id="error_explanation">
            <h2>
              <%= pluralize(@publicacioncarpool.errors.count, "error") %> prohibited
              this article from being saved:
            </h2>
            <ul>
              <% @publicacioncarpool.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        </div>
      <% end %>
      <div class="row">
          <div class="field col-md-6">
            <%= f.label "Fecha de Salida" %> <br>
            <%= f.text_field :fecha, :readonly=> "true" %>
          </div>
          <div class="field col-md-6">
            <%= f.label "Hora Aproximada de Salida" %><br>
            <%= f.text_field :hora_desde, :class => "form-control hidden-xs hidden-sm" %>
            <%= f.time_select :hora_desde, :class =>"form-control visible-xs visible-sm"%>
          </div>
      </div>
      <div class="row">
        <div class="field col-md-12">
          <%= f.label "Lugar de Salida" %>
          <%= f.text_field :desde , :class => "form-control", :onFocus=> "geolocate()", :placeholder => "ej: Calle, Número, Ciudad, Pais" %>
        </div>
      </div>
      <div class="row">
        <div class="field col-md-6 ">
          <%= f.label "Tipo de Vehículo" %>
          <%= f.select :tipo_vehiculo, options_for_select([["Sedan","Sedan"], ["Camioneta","Camioneta"], ["Minibus","Minibus"]]),{include_blank: false}, {class: "form-control", onchange: "maxLibres();"}%>
        </div>
        <div class="field col-md-6">
          <%= f.label "Asientos Disponibles" %>
          <div class="col-md-1 col-md-offset-2">
            <%= f.select :asientos_disp, ((1..3).map {|i| [i,i]}), {}, {style: "width: 60px;", class: "form-control"}  %>
          </div>
        </div>
      </div>
         <div class="field">
          <%= f.label "Celular de contacto" %>
          <%= f.text_field :celular , :class => "form-control", :placeholder => "ej: +5699999999" %>
        </div>
        <div class="field">
          <%= f.label "Descripción" %><br>
          <%= f.text_area :descripcion , :class => "form-control" %>
        </div>

        <div class="actions">
          <%= f.submit "Crear Publicación carpool", :class => "btn btn-primary btn-block" %>
        </div>
    
    <% end %>
    </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  function maxLibres(){
    var tipo = $("#publicacion_carpool_tipo_vehiculo option:selected").text();

    var select = $("#publicacion_carpool_asientos_disp");
    select.empty();
    switch(tipo){
      case("Sedan"):
        <% (1..3).each do |i| %> 
          select.append('<option value="<%= i %>"><%= i %></option>');
        <% end %>
        break;
      case("Camioneta"):
        <% (1..2).each do |i| %>
          select.append('<option value="<%= i %>"><%= i %></option>');
        <% end %>
        break;
      case("Minibus"):
        <% (1..7).each do |i| %>
          select.append('<option value="<%= i %>"><%= i %></option>');
        <% end %>
        break;
    
    }
  }
  
  $(function() {
    $("#publicacion_carpool_fecha").datepicker();
  });
  $(function() {
    $("#publicacion_carpool_hora_desde").timepicker({ timeFormat: 'H:i', defaultTime: new Date() });
  });


  function optioner(){
      $("#mini_hora").timepicker('option',{useSelect: true});
  }

// This example displays an address form, using the autocomplete feature
// of the Google Places API to help users fill in the information.

var placeSearch, autocomplete;

function initialize() {

  // Create the autocomplete object, restricting the search
  // to geographical location types.
  autocomplete = new google.maps.places.Autocomplete(
      /** @type {HTMLInputElement} */(document.getElementById('publicacion_carpool_desde')),
      { types: ['geocode'] });
  // When the user selects an address from the dropdown,
  // populate the address fields in the form.
  google.maps.event.addListener(autocomplete);
}

// Bias the autocomplete object to the user's geographical location,
// as supplied by the browser's 'navigator.geolocation' object.
function geolocate() {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function(position) {
      var geolocation = new google.maps.LatLng(
          position.coords.latitude, position.coords.longitude);
      autocomplete.setBounds(new google.maps.LatLngBounds(geolocation,
          geolocation));
    });
  }
}
$(document).ready(function(){
  initialize();
});
</script>