   <!-- Page Content -->
    <div class="container">

        <!-- Eventos -->
    <h2 class="page-header"> Carpool hacia <%= @evento.name %></h2>
        <div class="col-md-6 col-xs-12">
            <div class="row">
                <div class="col-md-2 col-xs-4">
                <% if @userPub.foto.present? %>
                    <img class="img-square img-responsive img-center" src="<%= @userPub.foto.url %>" width="80" height="80" alt="">
                <% else %>
                    <img class="img-square img-responsive img-center" src="http://sintoniageek.com/wp-content/uploads/2011/03/avatar-facebook-defecto1.jpg" width="80" height="80" alt="">
                <% end %>

                <img class="img-square img-responsive img-center" 
                src="<% if ! @evento.image.nil? %>
                <%= @evento.image %>
                <% else %>
                http://placehold.it/150x150
                <%end%>" 
                width="80" height="80" alt="">
                </div>

                <div class="col-md-10 col-xs-8">
                <p><b>Nombre Usuario: </b><%= @userPub.nombre %> </p>
                <p><b>Ciudad: </b><%= @userPub.city.name + ", " + @userPub.region.name %></p>
                <p><b>Correo: </b><%= @userPub.email %> </p>

                <% if @transUser and @transUser.aceptado %>
                <p style="color:red;"><b>Celular: <%= @carpool.celular %> </b> </p>
                <% end %>
                </div>
            </div>

            <div class="row">
                    <div  class="comment-container" >
                        <div class="comments">
                          <div class="first-comment"></div>
                            <%= render :partial => 'comments/comment', :collection => @comments, :as => :comment %>
                        </div>
                        <div class="comment-send"> 
                            <%= render :partial => 'comments/form', :locals => { :comment => @new_comment } %>
                        </div>
                    </div>
                </div>

            </div>

        <div class="col-md-6 col-xs-12">
            <% if @userPub != current_user %>
              <div class="row">
                    <div class="text-center">
                      <p><b>Lugar: </b> <%= @carpool.desde %></p>
                      <p><b>Hora: </b> <%= @carpool.hora_desde.strftime("%H:%M") %></p>
                      <p><b>Asientos disponibles:</b> <span class="badge"><%= @asientosDisp %></span></p>
                    </div> 

                    <% if @transUser %>
                        <div class="text-center">
                            Su petición fue 
                            <% if @transUser.aceptado.nil? %>
                               <span style="color:blue;">Enviada</span>
                            <% elsif @transUser.aceptado %>
                               <span style="color:green;">Aceptada</span> 
                            <% else %>
                               <span style="color:red;">Rechazada</span> 
                            <% end %>
                        </div>
                    <% else %>
                    <div class="peticiones-container col-xs-offset-1">
                                    <b> Pedir asientos en carpool </b>
                    
                     <%= form_for @transaccion , url: crear_transaccion_carpool_path do |f| %>
                        <%= f.label :asientos %>
                        <%= f.select :asientos, ((1..@asientosDisp).map {|i| [i,i] }) %> <br>
                        <%= f.submit "Realizar peticion", :class =>"btn btn-primary"%>
                    <%end%>
                    </div>
                    <%end%>
              </div>
            <% else %>
            <div class="carpool-container">
                <div class="text-center"><b>Asientos disponibles:</b> <span class="badge"><%= @asientosDisp %></span></div>
            <% if !@peticiones.nil? %>
              <TABLE class="tabla-carpools">
              <tr>
              <th> Usuario </th>
              <th> Ciudad </th>
              <th> N° de Asientos </th>
              <th>  Estado </th>
              <th>  Aceptar/Rechazar</th>
              </tr>
              <% @peticiones.each do |peticion| %>
                  <TR>
                    <TD>
                    <% if peticion.user.foto.thumb.url %>
                     <% img = peticion.user.foto.thumb.url %>
                     <img src="<%= img  %>" alt="" class="img-circle">
                    <% else %>
                      <img src="/assets/place_user.png", class="img-circle", style="width:30px;heigh:30px">
                    <% end %>
                    <%= link_to peticion.user.nombre[0..20]+"..", perfil_user_path(peticion.user) %>
                    </TD>
                    <TD>
                      <%= peticion.user.city.name %>
                    </TD>
                  <td>
                    <%= peticion.asientos%>
                  </td>
                  <td>
                    <% if peticion.aceptado.nil? %>
                        <span style="color:blue;">Pendiente</span>
                    <% elsif peticion.aceptado %>
                        <span style="color:green;">Aceptado</span>
                    <% else %>
                        <span style="color:red;">Rechazado</span>
                    <% end %>
                  </td>
                  <td>
                    <% if peticion.aceptado %>
                        <span class="glyphicon glyphicon-ok" style="color:grey;"></span>
                    <% else %>
                    <%= link_to aceptar_transaccion_path(@evento, @carpool, peticion) do 
                    %> 
                    <span class="glyphicon glyphicon-ok" style="color:green;"></span>
                    <% end %>
                    <% end %>
                    / 
                    <% if peticion.aceptado == false %>
                        <span class="glyphicon glyphicon-remove" style="color:grey;"></span>
                    <% else %>
                    <%= link_to rechazar_transaccion_path(@evento, @carpool, peticion) do %>
                    <span class="glyphicon glyphicon-remove" style="color:red;"></span> 
                    <%end%>

                    <% end %>
                  </td>
                  </TR>
                <% end %>
              </TABLE> 
                  <% end %>
        </div>   

            <% end %>
        </div>
        </div>
    </div>
