<%= simple_form_for(@bus) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :bus_id %>
    <%= f.input :patente %>
    <%= f.input :empresa_id %>
    <%= f.input :patente %>
    <%= f.input :asientos %>
    <%= f.input :tipo %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
