<div class="container">
	<% if @interes.count != 0 %>
	<!-- Eventos de tu interes -->
	<div class="row">
		<h2 class="page-header">Eventos de interés</h2>
		<!-- Creando las ventanitas de evento -->
		<div id="heroSlider2" class="carousel slide">
			<div class="carousel-inner">
				<% primer = true %>
				<% @interes.each do |eventos| %>
					<% if primer %>
						<div class="active item">
							<div id="eventosDeInteres" class="hero-unit carousel">
							<% eventos.each do |evento| %>
								<div class="col-lg-4 col-sm-6 text-center">
									<!-- Hipervinculo en la imagen, si no hay dejamos un placeholder-->
									<!-- Editar el placeholder para version final -->

									<%= link_to mostrar_evento_path(evento), 'data-no-turbolink' => true  do %>
									
										<% if evento.image.present? %>
											<% img = evento.image %>
										<% else %>
											<% img = 'http://placehold.it/200x200' %>
										<% end %> 

										<%= image_tag img , :class => "img-square img-responsive img-center" %>

									<% end %>

									<h3><%= evento.name %> </h3>
									<p> <%= evento.subtitle %> </p>
								</div>
							<%end%>
							</div>
						</div>
						<% primer = false %>
					<% else %>
						<div class="item">
							<div id="eventosDeInteres" class="hero-unit carousel">
							<!-- INICIO-->
								<% eventos.each do |evento| %>
									<div class="col-lg-4 col-sm-6 text-center">
									<!-- Hipervinculo en la imagen, si no hay dejamos un placeholder-->
									<!-- Editar el placeholder para version final -->
										<a href="<%= mostrar_evento_path(evento) %>">

										<img class="img-square img-responsive img-center" src="
										<% if evento.image.present? %>
											<%= evento.image %>
										<% else %>
											http://placehold.it/200x200
										<% end %> 
										" alt="">
										</a>
									<h3><%= evento.name %> </h3>
									<p> <%= evento.subtitle %> </p>
									</div>
								<% end %>
								<!-- FIN-->                  
								</div>
							</div>
						<% end %>
					<% end %>
					</div>
				<a class="left carousel-control" href="#heroSlider2" data-slide="prev">‹</a>
				<a class="right carousel-control" href="#heroSlider2" data-slide="next">›</a>
			</div>
	</div>
	<% end %>

	<div class="row">
		<h2 class="page-header">Preguntas Frecuentes</h2>
		<div class="panel-group" id="accordion">
		  <div class="panel panel-default">
		    <div class="panel-heading">
		      <h4 class="panel-title">
		        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
		          ¿Que es un Carpool?
		        </a>
		      </h4>
		    </div>
		    <div id="collapseOne" class="panel-collapse collapse">
		      <div class="panel-body">
		        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
		      </div>
		    </div>
		  </div>
		  <div class="panel panel-default">
		    <div class="panel-heading">
		      <h4 class="panel-title">
		        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
		          ¿Cómo realizo una publicación Carpool?
		        </a>
		      </h4>
		    </div>
		    <div id="collapseTwo" class="panel-collapse collapse">
		      <div class="panel-body">
		        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
		      </div>
		    </div>
		  </div>
		  <div class="panel panel-default">
		    <div class="panel-heading">
		      <h4 class="panel-title">
		        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
		          ¿Cómo me uno a un Carpool?
		        </a>
		      </h4>
		    </div>
		    <div id="collapseThree" class="panel-collapse collapse">
		      <div class="panel-body">
		        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
		      </div>
		    </div>
		  </div>
		</div>
	</div>


</div>	