<% title "Perfil de " + @user.nombre %>
<!-- Page Content -->


<div class="container">
  <!-- Perfil -->
  <div class="container">
  	<div class="row">
  		<div class="col-md-8">
  			<div class="panel-body">
  				<div class="row">
  					<div class="col-xs-12 col-sm-4 text-center">
  						<img src="
                <% if @user.foto.present? %>
                  <%= @user.foto.url %>
                <% else %>
                  http://sintoniageek.com/wp-content/uploads/2011/03/avatar-facebook-defecto1.jpg
                <% end %>       
              " alt="" class="center-block img-responsive">
            </div><!--/col-->       
            <div class="col-xs-12 col-sm-8">
						  <div> 
								
							</div>
						  <h2><%= @user.nombre %></h2>
              <% if @user.city %>
                <p><b>Ciudad: </b> <%= @user.city.name + ", " + @user.region.name  %> </p>
              <% end %>
              <p><b>E-mail: </b> <%= @user.email %> </p>
              <% if @user.ranking %>
                <p><b>Ranking Carpool: </b>
                <div class="contenedorEstrellas">
                  <% for i in 0..(@user.ranking.round-1)%>
                    <span class="glyphicon glyphicon-star" id="estrellaColor"></span>
                  <% end %>
                  <% for i in 0..(4-@user.ranking.round)%>
                    <span class="glyphicon glyphicon-star" id="estrellaGris"></span>
                  <% end %>
                </div></p>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal-<%= @user.id %>">Comentarios</button>
                        <div class="modal fade" id="myModal-<%= @user.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                <h4 class="modal-title" id="myModalLabel">Comentarios</h4>
                              </div>
                              <div class="modal-body">
                                <%@user.rankings.each do |ranking|%>
                                  <b><%= ranking.comment %></b> <small><%= ranking.updated_at %></small>
                                  <hr>
                                <% end %>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                              </div>
                            </div>
                          </div>
                        </div>
              <% end %>
              <% if @user == current_user %>
						    <a href="<%=edit_user_registration_path(@user)%>" class="btn btn-primary" style="float:right;">
                <i class="glyphicon glyphicon-edit"></i> 
                Editar Perfil </a>
              <% end %>
              <% if @gustos.length > 0 %>
  						  <p><strong>Gustos: </strong>
                  <% @gustos.each do |g| %>
                    <span class="label label-info tags"><%= g %></span> 
                  <% end %>
  						  </p>
              <% end %>
            </div><!--/col-->            
          </div><!--/row-->
    		</div><!--/panel-body-->
    	</div>
    </div>
    <!-- Eventos Asistidos -->
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-6 col-xs-12">
          <h4>Eventos Asistidos</h4>
          <div  class="asistidos-container" >
            <table class="table table-striped">
              <thead>
                <tr>
                  <td>Nombre</td>
                  <td>Fecha</td>
                  <td>Pasajes</td>
                </tr>
              </thead>
              <tbody>
                <% @userEventosAceptados.each do |ea| %>
                <tr>
                  <td><%= ea.user_evento.evento.name %></td>
                  <td><%= ea.user_evento.evento.date %></td>
                  <td>
                    <% if current_user.present? && current_user == ea.user_evento.user %>
                      <% ea.pasajes.each do |p| %>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal-<%= p.id %>">n° <%= p.asiento %></button>
                        <div class="modal fade" id="myModal-<%= p.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                <h4 class="modal-title" id="myModalLabel">QR Asiento n° <%= p.asiento %></h4>
                              </div>
                              <div class="modal-body">
                                <% qr = RQRCode::QRCode.new( p.codigo, :size => 4, :level => :h ) %>
                                <% @png = qr.to_img.resize(300,300).to_data_url %>
                                <center><%= image_tag @png %></center>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      <% end %>
                    <% end %>
                  </td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-md-6 col-xs-12">
          <h4>Carpools Publicados</h4>
          <table class="table table-striped">
              <thead>
                <tr>
                  <td>Nombre</td>
                  <td>Fecha</td>
                  <td>Tipo Vehiculo</td>
                  <td> </td>
                </tr>
              </thead>
              <tbody>
                <% @userCarpools.each do |c| %>
                  <tr>
                    <td><%= c.evento.name %></td>
                    <td><%= c.fecha %></td>
                    <td><%= c.tipo_vehiculo %></td>
                    <% if current_user %>
                      <td><%= link_to "Ver los detalles", mostrar_carpool_path(c.evento.id, c.id) %></td>
                    <% else %>
                      <td>Ver los detalles</td>
                    <% end %>

                  </tr>
                <% end %>
              </tbody>
            </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /.container -->


<!-- jQuery Version 1.11.0 -->
<script src="js/jquery-1.11.0.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>
